<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<ul class="breadcrumb">
    <li class="active"><a>Home</a></li>
    <li><a th:href="@{/country/list/}">List</a></li>
</ul>
<h1>Create Name</h1>
<form action="#" method="post">
    Create country:
    <input type="text" placeholder="Enter Country" name="country" value=""/>
    <input type="submit" value="Create"/><br/>
    <a href="/name/list">Back to list</a>
</form>

</body>
</html>