<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<ul class="breadcrumb">
    <li><a th:href="@{/}">Home</a></li>
    <li class="active"><a>Country List</a></li>
    <li><a th:href="@{/city/list}">City List</a></li>
    <li><a th:href="@{/district/list}">District List</a></li>
</ul>
</body>
<h1>Country List</h1>
<a th:href="@{/country/create}">Create Country</a>
<div>
    <table class="table">
        <tr>
            <th>Country</th>
            <th>Code</th>
            <th>Edit</th>
            <th>List</th>
            <th>Create</th>
        </tr>
        <tr th:each="c_list : ${countryList}">
            <td th:utext="${c_list.id}" hidden="true"></td>
            <td th:utext="${c_list.countryName}"></td>
            <td th:utext="${c_list.countryCode}"></td>
            <td>
                <button><a th:href="@{/country/edit/} + ${c_list.id}">Edit</a></button>
            </td>
            <td>
                <button><a th:href="@{/city/} + ${c_list.id} + @{/list}">City</a> </button>
            </td>
            <td>
                <button><a th:href="@{/city/} + ${c_list.id} + @{/create}">Create City</a> </button>
            </td>
        </tr>
    </table>
</html>